
<h2 class="text-center">Duties</h2>

<button type="button" class="btn btn-primary mb-5" id="adddutybtn">
    Add New Duty
</button>



<div>
    <table id="dutytable">
        <thead>
            <tr>
                <td>Sno</td>
                <td>Duty Name</td>
                <td>Duty Type</td>
                <td>Category</td>
                <td>Created Date</td>
                <td>Assigned To</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Admin/Duties.js" defer></script>


