

<h2 class="text-center">Employee</h2>

<button type="button" id="addEmployeebtn" class="btn btn-primary m-3">
    Add New Employee
</button>
<div>
    <table id="usertable">
        <thead>
            <tr>
                <td>Sno</td>
                <td>Full Name</td>
                <td>Login Id</td>
                <td>login Pass</td>
                <td>Email</td>
                <td>Mobile Number</td>
                <td>Gender</td>
                <td>DOB</td>
                <td>Joining Date</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Admin/Employee.js" defer></script>
