
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <style>
        a {
            cursor: pointer;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /*
        * Sidebar
        */

        .sidebar {
            position: fixed;
            top: 0;
            /* rtl:raw:
         right: 0;
         */
            bottom: 0;
            /* rtl:remove */
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }


        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

            .sidebar .nav-link .feather {
                margin-right: 4px;
                color: #727272;
            }

            .sidebar .nav-link.active {
                color: #2470dc;
            }

                .sidebar .nav-link:hover .feather,
                .sidebar .nav-link.active .feather {
                    color: inherit;
                }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*
        * Navbar
        */

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

            .form-control-dark:focus {
                border-color: transparent;
                box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
            }

        .dataTables_wrapper {
            width: 100% !important;
        }
        
    </style>
</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Rituraj Trading</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                @Html.ActionLink("Log Out", "LogOff1", "Login", null, new { @class = " btn btn-outline-light" })
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" id="userbtn" aria-current="page">
                                <span data-feather="home"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="fundbtn">
                                <span data-feather="file"></span>
                                Funds
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="investmentbtn">
                                <span data-feather="shopping-cart"></span>
                                Investments
                            </a>
                        </li>

                    </ul>


                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Admin Dashboard</h1>
                </div>



                <div id="UserSection" class="card card-body" style="display:flex; flex-direction:column; align-items:center; justify-content:center; padding:20px;">
                    <h2>Users</h2>
                    <table id="Usertable">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Date Of Birth</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>



                <div id="UserInfo">
                    <button class="btn btn-primary mb-3" id="Back" > &lt;Back To List</button>
                    <div id="useri">

                    </div>

                </div>


                <div id="FundsSection" class="card card-body" style="display:flex; flex-direction:column; align-items:center; justify-content:center; padding:20px;">
                    <h2>Funds</h2>
                    <table id="tblFunds">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Fund ID</th>
                                <th>Dated</th>
                                <th>Amount</th>
                                <th>Amount Used</th>
                                <th>Fund Type</th>
                                <th>User Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


                <div id="InvestmentSection" class="card card-body" style="display:flex; flex-direction:column; align-items:center; justify-content:center; padding:20px;">
                    <h2>Investments</h2>
                    <table id="InvestmentTable">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Investment ID</th>
                                <th>Dated Created</th>
                                <th>Investment Amount</th>
                                <th>Maturity Date</th>
                                <th>Final Amount</th>
                                <th>Fund ID</th>
                                <th>User Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>


    <script>
        $("#FundsSection").hide();
        $("#InvestmentSection").hide();
        $("#UserInfo").hide();
        output = "";
        
        $(document).ready(function () {

            $("#Back").on("click", function () {
                $("#FundsSection").hide();
                $("#InvestmentSection").hide();
                $("#UserSection").show();
                $("#UserInfo").hide();
                usertable.ajax.reload();
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });

            $("#fundbtn").on("click", function () {
                $("#FundsSection").show();
                $("#InvestmentSection").hide();
                $("#UserSection").hide();
                $("#UserInfo").hide();
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });
            
            $("#userbtn").on("click", function () {
                usertable.ajax.reload();
                $("#FundsSection").hide();
                $("#InvestmentSection").hide();
                $("#UserSection").show();
                $("#UserInfo").hide();
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });
            $("#investmentbtn").on("click", function () {

                $("#FundsSection").hide();
                $("#InvestmentSection").show();
                $("#UserSection").hide();
                $("#UserInfo").hide();
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });
           
           

            var usertable = $('#Usertable').DataTable({
                scrollX: true,
                scrollCollapse: false,
                paging: true,
                processing: true,
                autoWidth: false,
                ajax: {
                    "url": "/api/user",
                    "dataSrc": ""
                },
                columns: [
                    {},
                    { "data": "Id" },
                    { "data": "Name" },
                    { "data": "Email" },
                    { "data": "BirthDate" },
                    { "data": "Id" }
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            return moment(data).format("YYYY-MM-DD");
                        },
                        targets: 4
                    },
                    {
                        render: function (data, type, row) {
                            return data + 0;
                        },
                        targets: 0
                    },
                    {
                        render: function (data, type, row) {
                            return "<button id='" + data + "' class='btn btn-success viewbtn'>View</button>";
                        },
                        targets: 5
                    }
                ],
                order: [[1, 'asc']],
            });
            usertable.on('order.dt search.dt', function () {
                let i = 1;

                usertable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();


            $("#Usertable").on("click", ".viewbtn", function () {
                var button = this;
                $.ajax({
                    type: "POST", //Method type
                    url: "/Admin/GetaUser", //url to load partial view
                    data: { id: button.id }, //send student id
                    success: function (response) {
                        $("#UserInfo").show();
                        $("#FundsSection").hide();
                        $("#InvestmentSection").hide();
                        $("#UserSection").hide();
                        $("#useri").html(response);

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            var fundtable = $('#tblFunds').DataTable({
                scrollX: true,
                scrollCollapse: false,
                paging: true,
                processing: true,
                autoWidth: false,
                ajax: {
                    "url": "/api/Fund",
                    "dataSrc": ""
                },
                columns: [
                    {},
                    { "data": "FundId" },
                    { "data": "Dated" },
                    { "data": "FundAmount", className: "text-end" },
                    { "data": "AmountUsed", className: "text-end" },
                    { "data": "FundType" },
                    { "data": "UserName" }
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            return moment(data).format("YYYY-MM-DD HH:mm:ss");
                        },
                        targets: 2
                    },
                    {
                        render: function (data, type, row) {
                            return data + 0;
                        },
                        targets: 0
                    },
                    {
                        render: $.fn.dataTable.render.number(',', '.', 2, '&#8377; ')
                        ,
                        targets: [3, 4]
                    }
                ],
                order: [[1, 'asc']],
            });
            fundtable.on('order.dt search.dt', function () {
                let i = 1;

                fundtable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();


            var Investmenttable = $('#InvestmentTable').DataTable({
                scrollX: true,
                scrollCollapse: false,
                paging: true,
                processing: true,
                autoWidth: false,
                ajax: {
                    "url": "/api/Investment",
                    "dataSrc": ""
                },
                columns: [
                    {},
                    { "data": "InvestmentId" },
                    { "data": "Dated" },
                    { "data": "InvestmentAmount", className: "text-end" },
                    { "data": "DateOfMaturity" },
                    { "data": "FinalAmount", className: "text-end" },
                    { "data": "FundId" },
                    { "data": "UserName" },
                    { "data": "Status" }
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            return moment(data).format("YYYY-MM-DD HH:mm:ss");
                        },
                        targets: 2
                    },
                    {
                        render: function (data, type, row) {
                            return moment(data).format("YYYY-MM-DD HH:mm:ss");
                        },
                        targets: 4
                    },
                    {
                        render: function (data, type, row) {
                            return data + 0;
                        },
                        targets: 0
                    },
                    {
                        render: $.fn.dataTable.render.number(',', '.', 2, '&#8377; ')
                        ,
                        targets: [3,5]
                    },
                    {
                        render: function (data, type, row) {
                            if (data == "withdrawn") {
                                return "<p class=' text-danger'> " + data + "</p>";
                            }
                            else {
                                return data;
                            }
                        },
                        targets: 8
                    }
                ],
                order: [[1, 'asc']],
            });
            Investmenttable.on('order.dt search.dt', function () {
                let i = 1;

                Investmenttable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        });

    </script>
</body>
</html>

