<h2 class="text-center">Orders</h2>


<div>
    <table id="ordertable">
        <thead>
            <tr>
                <td>Sno</td>
                <td>Order Id</td>
                <td>User Id</td>
                <td>Amount</td>
                <td>Order Date</td>
                <td>Address</td>
                <td>City</td>
                <td>State</td>
                <td>Zip Code</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Admin/Order.js" defer></script>