<h2 class="text-center">Products</h2>
<div class="mb-3">
    <button class="btn btn-primary" id="addProduct">Add New Product</button>
</div>

<div>
    <table id="productsTable">
        <thead>
            <tr>
                <td>Sno</td>
                <td>Image</td>
                <td>Product Name</td>
                <td>Original Price</td>
                <td>Manufacturer</td>
                <td>Stock Remaining</td>
                <td>Expiry Date</td>
                <td>Discount</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Admin/Products.js" defer></script>