@{
    ViewBag.Title = "About";
}

<div style="height:90vh; display:flex; align-items:center; justify-content:center">
    <div>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</div>
